<html>
<head>
<title>{{title}}</title>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
<script type="text/javascript" src="http://kozea.github.com/pygal.js/latest/pygal-tooltips.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

</head>

<body>
<div>
{{ line_chart.render()|safe }}
</div>

<h3> List of gentrified Neighborhoods </h3>
<form action='/graph' method='post'>
<div class="checkbox">
<ul>
{% for thing in gent_list%}
<li><input type="checkbox" name="check" value="{{thing['name']}}">{{thing['name']}} {{thing['intervals']}}</li>
{%endfor%}

<h3> All neighborhoods </h3>
{% for hood in hood_complaints%}
<li><input type="checkbox" name="check" value="{{hood}}">{{hood}}</li>
{%endfor%}
</ul>
</div>
<button type="submit">Submit</button>
</form>
</body>
</html>
